.invalid {
    border: 1px solid red;
  }
  
  .invalid-msg{
    color: red;
  }
  
  .warning-msg {
    color: orangered;
  }
  
  .warning {
    color: darkorange;
  }

  .card-content-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 16px;
    padding-inline-start: 16px;
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
    font-variant: all-petite-caps;
}