<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="option" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="thai">
      <ion-label>คนไทย</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nation">
      <ion-label>คนต่างชาติ</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="2">
      <ion-img [src]=urlPhoto class="img-responsive" alt="Image"></ion-img>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-content>
          <ng-container [ngSwitch]="option">
            <ng-container *ngSwitchCase="'thai'">
              <form [formGroup]="fgTh" (ngSubmit)="handleSubmit()">
                <ion-list lines="none">
                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>รหัสบัตรประชาชน</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input [class.invalid]="isValidTh('idCard')" type="text" formControlName="idCard"
                          placeholder="กรุณากรอกข้อมูล"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-item *ngIf="isValidTh('idCard')">
                      <span class="invalid-msg">
                        กรุณากรอกข้อมูล
                      </span>
                    </ion-item>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>คำนำหน้า</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="th_Prefix" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidTh('th_Prefix')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidTh('th_Prefix')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>ชื่อ</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="th_Firstname" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidTh('th_Firstname')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidTh('th_Firstname')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>นามสกุล</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="th_Lastname" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidTh('th_Lastname')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidTh('th_Lastname')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <app-datetime text="เกิดวันที่" mode="date" [fg]="fgTh" formName="birthday"></app-datetime>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>ที่อยู่</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="address" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidTh('address')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidTh('address')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <app-datetime text="วันออกบัตร" mode="date" [fg]="fgTh" formName="issueDate"></app-datetime>
                  <app-datetime text="วันบัตรหมดอายุ" mode="date" [fg]="fgTh" formName="expiryDate"></app-datetime>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>เบอร์โทร</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="telephone" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidTh('telephone')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidTh('telephone')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>อาชีพ</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="job" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidTh('job')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidTh('job')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>เพศ</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col [class.invalid]="isValidTh('sex')">
                      <ion-radio-group formControlName="sex">
                        <ion-item class="row" *ngIf="isValidTh('sex')">
                          <span class="invalid-msg">กรุณาเลือก</span>
                        </ion-item>
                        <ion-item>
                          <ion-col>
                            <ion-item>
                              <ion-radio slot="start" value='M'></ion-radio>
                              <ion-label>ชาย</ion-label>
                            </ion-item>
                          </ion-col>
                          <ion-col>
                            <ion-item>
                              <ion-radio slot="start" value='F'></ion-radio>
                              <ion-label>หญิง</ion-label>
                            </ion-item>
                          </ion-col>
                        </ion-item>
                      </ion-radio-group>
                    </ion-col>
                  </ion-row>

                  <ion-item>
                    <ion-button size="default" slot="end" expand="block" (click)="closeModal()" color="danger">ยกเลิก
                    </ion-button>
                    <ion-button size="default" slot="end" expand="block" type="submit">บันทึก</ion-button>
                  </ion-item>
                </ion-list>
              </form>

            </ng-container>

            <ng-container *ngSwitchCase="'nation'">
              <form [formGroup]="fgEn" (ngSubmit)="handleSubmit()">
                <ion-list lines="none">
                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>Passport No.</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="passportNo" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidEn('passportNo')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-item *ngIf="isValidEn('passportNo')">
                      <span class="invalid-msg">
                        กรุณากรอกข้อมูล
                      </span>
                    </ion-item>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>Prefix</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="en_Prefix" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidEn('en_Prefix')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidEn('en_Prefix')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>First&Middle Name</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="en_Firstname" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidEn('en_Firstname')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidEn('en_Firstname')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>Last Name</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="en_Lastname" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidEn('en_Lastname')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidEn('en_Lastname')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <app-datetime text="Date of Birth" mode="date" [fg]="fgEn" formName="birthday"></app-datetime>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>Nationality</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidEn('nationality')">
                        <span class="invalid-msg">
                          กรุณาเลือก
                        </span>
                      </ion-item>
                      <ion-select [class.invalid]="isValidEn('nationality')" #nationSelect interface="action-sheet"
                        formControlName="nationality" (ionChange)="change($event)">
                        <ion-select-option *ngFor="let item of Nation">{{ item.Name }}</ion-select-option>
                        <ion-select-option>สัญชาติอื่นๆ</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>

                  <app-datetime text="Date of issue" mode="date" [fg]="fgEn" formName="issueDate"></app-datetime>
                  <app-datetime text="Date of expiry" mode="date" [fg]="fgEn" formName="expiryDate"></app-datetime>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>Telephone No.</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-input type="text" formControlName="telephone" placeholder="กรุณากรอกข้อมูล"
                          [class.invalid]="isValidEn('telephone')"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col>
                      <ion-item *ngIf="isValidEn('telephone')">
                        <span class="invalid-msg">
                          กรุณากรอกข้อมูล
                        </span>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="2">
                      <ion-item>
                        <ion-label>sex</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-radio-group formControlName="sex">
                        <ion-item class="row" *ngIf="isValidEn('sex')">
                          <span class="invalid-msg">กรุณาเลือก</span>
                        </ion-item>
                        <ion-item [class.invalid]="isValidEn('sex')">
                          <ion-col>
                            <ion-item>
                              <ion-radio slot="start" value='M'></ion-radio>
                              <ion-label>Male</ion-label>
                            </ion-item>
                          </ion-col>
                          <ion-col>
                            <ion-item>
                              <ion-radio slot="start" value='F'></ion-radio>
                              <ion-label>Female</ion-label>
                            </ion-item>
                          </ion-col>
                        </ion-item>
                      </ion-radio-group>
                    </ion-col>
                  </ion-row>

                  <ion-item>
                    <ion-button size="default" slot="end" expand="block" color="danger" (click)="closeModal()">ยกเลิก
                    </ion-button>
                    <ion-button size="default" slot="end" expand="block" type="submit">บันทึก</ion-button>
                  </ion-item>
                </ion-list>
              </form>
            </ng-container>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>