<ion-header>
  <ion-toolbar>
    <ion-title>ห้องพัก</ion-title>
    <ion-button slot="end" fill="clear" (click)="detailRooms()">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-row>
      <ion-col> </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="ion-text-center">
                วันที่ &nbsp;&nbsp;&nbsp;&nbsp; {{displayDateIn  | date:"dd/mm/yy" }}
                &nbsp;-&nbsp; {{displayDateOut | date:"dd/mm/yy" }}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item row>
              <ion-label i4label>รูปแบบห้อง</ion-label>
              <ion-icon *ngIf="roomType != 0" [src]="setIconIonSelect(roomType)"></ion-icon>
              <ion-select [(ngModel)]="roomType" interface="popover" [value]=0 (ionChange)="filterRoom()">
                <ion-select-option [value]=0>ทุกแบบ </ion-select-option>
                <ion-select-option [value]=1>สแตนดาร์ด </ion-select-option>
                <ion-select-option [value]=2>ซูพิเรีย</ion-select-option>
                <ion-select-option [value]=3>ดีลักซ์</ion-select-option>
                <ion-select-option [value]=4>แกรนดีลักซ์</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>รูปแบบเตียง</ion-label>
              <ion-icon *ngIf="bedType != 0" [src]="setIconIonSelect4Bed(bedType)"></ion-icon>
              <ion-select [(ngModel)]="bedType" interface="popover" [value]=0 (ionChange)="filterRoom()">
                <ion-select-option [value]=0>ทุกแบบ </ion-select-option>
                <ion-select-option [value]=1>เดี่ยว</ion-select-option>
                <ion-select-option [value]=2>เดี่ยว2เตียง</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button size="default" (click)="confirm()">
            ยืนยัน
          </ion-button>
          <ion-col>
            <ion-button *ngFor="let room of roomsSelect" (click)="settingRoom(room)">
              {{ room.roomNo }}
              <ion-icon src="../../assets/icon/settings-outline.svg"></ion-icon>
            </ion-button>
            <ion-button *ngIf="roomsSelect.length != 0" color="danger" (click)="clearRooms()">
              ลบ
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let f of floors; let i= index; ">
      <ng-container>
        <ion-row>
          <ion-item>
            ชั้น{{f}}
          </ion-item>
          <ion-col size="12">
            <ng-container *ngFor="let room of roomsByFilter">
              <ion-col *ngIf="room._id.startsWith(i+2)">
                <ion-button expand=" block" [color]="setColor(room.status)" (click)="selectRoom(room)">
                  {{ room._id }}
                  <ion-icon [src]="setIcon(room)"></ion-icon>
                </ion-button>
              </ion-col>
            </ng-container>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-row>
  </ion-list>

</ion-content>