<ion-header translucent>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons> -->
    <ion-title>รายละเอียดค่าใช้จ่าย (บาท)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
  <ion-list lines="none">
    <ion-row>
      <ion-col size="2">
        <h3>กลุ่มห้องพัก</h3>
      </ion-col>
      <ion-col size="7">
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="masterCheck" (click)="checkMaster($event)"></ion-checkbox>
          <ion-label><strong>เลือกทั้งหมด</strong></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of roomsAct">
      <ion-item-divider>
        <ion-col>
          <h5>ห้อง {{ item.roomNo }}</h5>
          <ion-item *ngFor="let item2 of item.expenseList">

            <ion-col size="2">
              <ion-label>{{ item2.name }}</ion-label>
            </ion-col>

            <ion-col size="1" class="ion-text-right">
              <ion-label>{{ item2.totalCost }}</ion-label>
            </ion-col>
            <!-- checked="{{ item2.isSelected }}" disabled="{{ item2.isPaid }}" -->
            <ion-checkbox slot="start" [(ngModel)]="item2.isSelected" (click)="change2(item2,item.roomNo)"
              disabled="{{ item2.isPaid == true }}" checked="{{ item2.isSelected == true }}"></ion-checkbox>
            <!-- Todo: add in checkbox (ionChange)="change(item2, item.room (ionChange)="checkEvent($event)")" -->
          </ion-item>
        </ion-col>
      </ion-item-divider>
    </ion-row>
  </ion-list>
  <!-- </form> -->
</ion-content>

<ion-footer style="--ion-background-color:#f5f2ea;">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-item lines="none">ค่าใช้จ่ายทั้งหมด</ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-item lines="none">{{ totalCost }}</ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">บาท</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-item lines="none">ยอดที่ชำระแล้ว</ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-item lines="none">{{ paid }}</ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">บาท</ion-item>
      </ion-col>
      <ion-col size="1.2"></ion-col>
      <ion-col size="2.5">
        <ion-item lines="none" style="color: red;">
          <h3>
            ยอดที่เลือกชำระ
          </h3>
        </ion-item>
      </ion-col>
      <ion-col size="1.5">
        <ion-item lines="none" style="color: red;">
          <h3>
            {{ costSelect }}
          </h3>
        </ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-item lines="none" style="color: red;">
          <h3>
            บาท
          </h3>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="1"></ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-item lines="none">คงค้าง</ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-item lines="none">{{ remaining }}</ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">บาท</ion-item>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="2">
        <ion-button expand="block" color="primary" class="ion-text-end" (click)="ok()">ถัดไป</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>