<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการเช็คอิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-img style="width: 150; height: 300px;" src="../../assets/image/prompiman.jpg" alt=""></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>
            <h2><b>ข้อมูลมาสเตอร์</b></h2>
          </ion-label>
          <ion-button *ngIf="checkDisplayCloseMasterButton()" slot="end" [routerLink]="['/master-detail']"
            size="default">ปิดมาสเตอร์</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>ชื่อ - นามสกุล:&nbsp;&nbsp;&nbsp;&nbsp;{{master.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เบอร์โทรศัพท์:&nbsp;&nbsp;&nbsp;&nbsp;{{master.telephone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ค่าใช้จ่ายทั้งหมด:&nbsp;&nbsp;&nbsp;&nbsp;{{master.totalCost}}</ion-label>
          <ion-label>ยอดคงค้างทั้งหมด:&nbsp;&nbsp;&nbsp;&nbsp;{{master.remaining}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>มัดจำที่จ่ายแล้ว:&nbsp;&nbsp;&nbsp;&nbsp;{{master.paid}}</ion-label>
          <ion-label>เงินสำรองจ่าย:&nbsp;&nbsp;&nbsp;&nbsp;{{master.deposit}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-button size="default" color="dark" (click)="costDetail4All()" slot="start" expand="outline"
            type="submit">
            ดูรายละเอียดค้างจ่าย
          </ion-button>
          <ion-button slot="end" size="default" [routerLink]="['/checkin/', master._id]" expand="block" type="submit">
            <ion-icon name="add-circle-outline"></ion-icon>
            เพิ่มห้องพัก
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-card-header>
        <ion-row class="ion-text-center">
          <ion-col size="1"></ion-col>
          <ion-col size="2">
            <h4>ห้อง</h4>
          </ion-col>
          <ion-col size="2">
            <h4>วันที่เข้าพัก</h4>
          </ion-col>
          <ion-col size="2">
            <h4>วันที่ออก</h4>
          </ion-col>
          <ion-col size="2">
            <h4>เงินค้างจ่าย</h4>
          </ion-col>
          <ion-col size="2">
            <h4>สถานะ</h4>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ng-container *ngFor="let r of roomsAct">
          <ion-row class="ion-text-center" (click)="costDetail4EachRoom(r._id)">
            <ion-col size="1"></ion-col>
            <ion-col size="2">
              <ion-item class="ion-text-center">
                <ion-label>
                  {{r.roomNo}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label style="text-align: center;">
                  {{r.arrivalDate | date:"dd/MM/yyyy"}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label style="text-align: center;">
                  {{r.departure | date:"dd/MM/yyyy"}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label style="text-align: center;">
                  {{r.remaining}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item [color]="setColor(r.status)">
                <ion-label color="dark" style="text-align: center;">
                  {{r.status}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>