<ion-header>
  <ion-toolbar>
    <ion-title>CheckinDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-img style="width: 150; height: 300px;" src="../../assets/image/user-silhouette.png" alt=""></ion-img>
      </ion-col>
      <ion-col>
        <ion-item>
          <h2><b>ข้อมูลมาสเตอร์:&nbsp;&nbsp;&nbsp;&nbsp;ff</b></h2>
        </ion-item>
        <ion-item>
          <ion-label>ชื่อ - นามสกุล:&nbsp;&nbsp;&nbsp;&nbsp;ff</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เบอร์โทรศัพท์:&nbsp;&nbsp;&nbsp;&nbsp;ff</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ค่าใช้จ่ายทั้งหมด:&nbsp;&nbsp;&nbsp;&nbsp;ff</ion-label>
          <ion-label>ยอดคงค้างทั้งหมด:&nbsp;&nbsp;&nbsp;&nbsp;ff</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>มัดจำที่จ่ายแล้ว:&nbsp;&nbsp;&nbsp;&nbsp;ff</ion-label>
          <ion-label>เงินสำรองจ่าย:&nbsp;&nbsp;&nbsp;&nbsp;ff</ion-label>
        </ion-item>
        <ion-item>
          <ion-button size="default" color="dark" (click)="register()" slot="start" expand="outline" type="submit">
            ดูรายละเอียดค้างจ่าย
          </ion-button>
          <ion-button slot="end" size="default" (click)="register()" expand="block" type="submit">
            <ion-icon name="add-circle-outline"></ion-icon>
            ลงทะเบียน
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="1"> </ion-col>
      <ion-col>
        <div scrollX="true" scrollY="true" class="ion-no-padding">
          <table>
            <thead class="bgb">
              <tr>
                <th width="100">ห้อง</th>
                <th width="100">วันที่เข้าพัก</th>
                <th width="100">วันที่ออก</th>
                <th width="100">เงินค้างจ่าย</th>
                <th width="100">สถานะ</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td width="100">201</td>
                <td width="100">16/17/2018</td>
                <td width="100">12/17/18</td>
                <td width="100">500</td>
                <td width="100">ว่าง</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
      <ion-col size="1"> </ion-col>
    </ion-row> -->
  
    <ion-card>
      <ion-card-header>
        <ion-row class="ion-text-left">
          <ion-col size="1"></ion-col>
          <ion-col size="2">
            <h4>ห้อง</h4>
          </ion-col>
          <ion-col size="2">
            <h4>วันที่เข้าพัก</h4>
          </ion-col>
          <ion-col size="2">
            <h4>วันที่ออก</h4>
          </ion-col>
          <ion-col size="2">
            <h4>เงินค้างจ่าย</h4>
          </ion-col>
          <ion-col size="2">
            <h4>สถานะ</h4>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
          <ion-row class="ion-text-left">
            <ion-col size="1"></ion-col>
              <ion-col size="2" >
                201
              </ion-col>
              <ion-col size="2">
               12/05/2020
              </ion-col>
              <ion-col size="2" >
                13/05/2020
              </ion-col>
              <ion-col size="2" >
                500
              </ion-col>
              <ion-col size="2" >
               เข้าพัก
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>