<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
  <ion-item lines="none">
    <ion-button size="default" (click)="register()" slot="end" expand="block" type="submit">
      <ion-icon name="add-circle-outline"></ion-icon>
      ลงทะเบียน
    </ion-button>
  </ion-item>

  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
  </div>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-row class="ion-text-center">
          <ion-col size="2">
            <h4>วันที่ลงทะเบียน</h4>
          </ion-col>
          <ion-col size="3">
            <h4>ไอดี</h4>
          </ion-col>
          <ion-col size="3">
            <h4>ชื่อ - สกุล</h4>
          </ion-col>
          <ion-col size="3">
            <h4>เบอร์โทรศัพท์</h4>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>

    <!-- / | paginate: { itemsPerPage: 5, currentPage: p }; let i = index -->
    <!-- | paginate: { id: 'item', itemsPerPage: paging.page, currentPage: 1, totalItems: paging.count } -->
    <!-- | paginate: {id: 'Users', itemsPerPage: 10, currentPage: paging.page, totalItems: paging.count } -->
    <!-- | paginate: { itemsPerPage: 10, currentPage: p } -->
    <ion-card>
      <ion-card-content>
        <ion-item class="ion-text-center"
          *ngFor="let item of paging.members  | paginate: { itemsPerPage: 2, currentPage: p }"
          [routerLink]="['/register-detail/', item._id]" routerDirection="forward">
          <ion-col size="2">
            {{item.creationDateTime | date:"dd/MM/yyyy" }}
          </ion-col>
          <ion-col size="3">
            {{item._id}}
          </ion-col>
          <ion-col size="3">
            {{item.th_Firstname}} {{item.th_Lastname}}123
          </ion-col>
          <ion-col size="3">
            {{item.telephone}}
          </ion-col>
          <ion-col size="1">
            <ion-button size="default" expand="block" type="submit">Check-in</ion-button>
          </ion-col>
        </ion-item>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ion-card-content>
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      <!-- <pagination-controls (pageChange)="getPageUsers2($event)"></pagination-controls> -->

      <!-- <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls> -->
      <!-- <pagination-controls (pageChange)="getPageUsers()"></pagination-controls> -->
      <!-- <pagination-controls id="item" (pageChange)="paging($event)"></pagination-controls> -->
    </ion-card>
  </div>
  <!-- </form> -->
</ion-content>