<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
  <ion-item lines="none">
    <ion-button size="default" (click)="register()" slot="end" expand="block" type="submit">
      <ion-icon name="add-circle-outline"></ion-icon>
      ลงทะเบียน
    </ion-button>
  </ion-item>

  <ion-row class="ion-padding">
    <ion-col size="11">
      <ion-searchbar [formControl]="searchBar"></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button style="margin-top: 0.8em;" size="default" expand="block" color="dark"
        (click)="search(searchBar.value)">
        ค้นหา
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-text-center">
        <ion-col size="2">
          <h4>วันที่ลงทะเบียน</h4>
        </ion-col>
        <ion-col size="2.5">
          <h4>ไอดี</h4>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <h4>ชื่อ - สกุล</h4>
        </ion-col>
        <ion-col size="2.5" class="ion-text-center">
          <h4>เบอร์โทรศัพท์</h4>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card >
    <ion-card-content>
      <ion-item lines="none" class="ion-text-center"
        *ngFor="let item of paging.dataList  | paginate: { itemsPerPage: 10, currentPage: p ,totalItems: paging.count}">
        <ion-col size="10.5" [routerLink]="['/register-detail/', item._id]">
          <!-- routerDirection="forward" -->
          <ion-item lines="none">
            <ion-col size="2.5">
              {{item.creationDateTime | date:"dd/MM/yyyy" }}
            </ion-col>
            <ion-col size="3.5">
              {{item._id}}
            </ion-col>
            <ion-col size="3.5" *ngIf="item.th_Firstname != '' || item.th_Lastname != ''" class="ion-text-left">
              {{item.th_Firstname}} {{item.th_Lastname}}
            </ion-col>
            <ion-col size="3.5" *ngIf="item.th_Firstname == ''" class="ion-text-left">
              {{item.en_Firstname}} {{item.en_Lastname}}
            </ion-col>
            <ion-col size="2.5" class="ion-text-left">
              {{item.telephone}}
            </ion-col>
          </ion-item>
        </ion-col>
        <ion-col size="1.5">
          <ion-button size="default" expand="block" type="submit" [routerLink]="['/checkin/', item._id]">Check In</ion-button>
        </ion-col>
      </ion-item>
      <h1 *ngIf="this.paging.count == 0" class="ion-text-center">ไม่พบสิ่งที่ค้นหา</h1>
      <pagination-controls (pageChange)="pageNumber = $event" (click)="search2(searchBar.value,pageNumber)"></pagination-controls>
      <!-- (click)="search(p)" -->
    </ion-card-content>
  </ion-card>
  <!-- </form> -->
</ion-content>