<ion-header>
  <ion-toolbar>
    <ion-title>ค้นหาสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="11">
      <ion-searchbar [formControl]="searchBar"></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button style="margin-top: 0.8em;" size="default" expand="block" color="dark"
        (click)="search(searchBar.value)">
        ค้นหา
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card>
    <!-- <ion-card-header> -->
      <ion-row class="ion-text-center">
        <ion-col size="6">
          <h4>ชื่อ - สกุล</h4>
        </ion-col>
        <ion-col size="6">
          <h4>เบอร์โทรศัพท์</h4>
        </ion-col>
      </ion-row>
    <!-- </ion-card-header> -->
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" class="ion-text-center"
        *ngFor="let item of registerMember.dataList | paginate: { itemsPerPage: 10, currentPage: p ,totalItems: registerMember.count}" (click)="confirmMember(item._id)">
        <ion-col size="6" *ngIf="item.th_Firstname != '' || item.th_Lastname != ''">
          {{item.th_Firstname}} {{item.th_Lastname}}
        </ion-col>
        <ion-col size="6" *ngIf="item.th_Firstname == ''">
          {{item.en_Firstname}} {{item.en_Lastname}}
        </ion-col>
        <ion-col size="6">
          {{item.telephone}}
        </ion-col>
      </ion-item>
      <pagination-controls (pageChange)="pageNumber = $event" (click)="search2(searchBar.value,pageNumber)"></pagination-controls>
      <h1 *ngIf="this.registerMember.length == 0" class="ion-text-center">ไม่พบสิ่งที่ค้นหา</h1>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none">
    <ion-button size="default" slot="end" expand="block" color="danger" (click)="cancel()">ยกเลิก</ion-button>
  </ion-item>

</ion-content>