<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลการจองห้องพัก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row>
    <ion-col size="11">
      <ion-searchbar [formControl]="searchBar"></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button style="margin-top: 0.8em;" size="default" expand="block" color="dark"
        (click)="search(searchBar.value)">
        ค้นหา
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card>
    <!-- <ion-card-header> -->
      <ion-row class="ion-text-center">
        <ion-col size="6">
          <h4>ชื่อ - สกุล</h4>
        </ion-col>
        <ion-col size="6">
          <h4>เบอร์โทรศัพท์</h4>
        </ion-col>
      </ion-row>
    <!-- </ion-card-header> -->
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" class="ion-text-center" (click)="confirmReservation(item._id)"
        *ngFor="let item of dataReservation  | paginate: { itemsPerPage: 10, currentPage: p}">
        <ion-col size="6">
          {{item.name}}
        </ion-col>
        <ion-col size="6">
          {{item.telephone}}
        </ion-col>
      </ion-item>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <h1 *ngIf="this.dataReservation.length == 0" class="ion-text-center">ไม่พบสิ่งที่ค้นหา</h1>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none">
    <ion-button size="default" slot="end" expand="block" color="danger" (click)="cancel()">ยกเลิก</ion-button>
  </ion-item>
</ion-content>