<ion-header>
  <ion-toolbar>
    <ion-title>Reservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
  <ion-item lines="none">
    <ion-button (click)="bookinginformation()" size="default" slot="end" expand="block" type="submit">
      <ion-icon name="add-circle-outline"></ion-icon>
      เพิ่มข้อมูลการจอง
    </ion-button>
  </ion-item>

  <ion-row class="ion-padding">
    <ion-col size="11">
      <ion-searchbar [formControl]="searchBar"></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button style="margin-top: 0.8em;" size="default" expand="block" color="dark"
        (click)="searchReservation(searchBar.value)">
        ค้นหา
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-text-center">
        <ion-col size="1.5">
          <h4>เข้าวันที่</h4>
        </ion-col>
        <ion-col size="1.5">
          <h4>ออกวันที่</h4>
        </ion-col>
        <ion-col size="1.5">
          <h4>จองเมื่อ</h4>
        </ion-col>
        <ion-col size="2">
          <h4>ชื่อ</h4>
        </ion-col>
        <ion-col size="1.5">
          <h4>เบอร์โทรศัพท์</h4>
        </ion-col>
        <ion-col size="2">
          <h4>จำนวนห้อง</h4>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" *ngFor="let item of reservation">
        <ion-col size="10" [routerLink]="['/booking-detail/', item._id, 'cancel']">
          <ion-item lines="none">
            <ion-col size="2">
              {{item.checkInDate | date:"dd/MM/yyyy"}}
            </ion-col>
            <ion-col size="1.5">
              {{item.checkOutDate | date:"dd/MM/yyyy"}}
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              {{item.creationDateTime | date:"dd/MM/yyyy"}}
            </ion-col>
            <ion-col size="2.5" class="ion-text-left">
              {{item.name}}
            </ion-col>
            <ion-col size="2" class="ion-text-left">
              {{item.telephone}}
            </ion-col>
            <ion-col size="2" class="ion-text-left">
              {{item.rooms.length}}
            </ion-col>
          </ion-item>
        </ion-col>
        <ion-col size="1" *ngIf="item.isConfirm == false">
          <ion-button (click)="confirmMembers(item._id)" size="default" expand="block">ยืนยัน</ion-button>
        </ion-col>
        <ion-col size="1" *ngIf="item.isConfirm == true">
          <ion-button color="medium" size="default" expand="block" disabled="true">ยืนยันแล้ว</ion-button>
        </ion-col>

        <ion-col size="1">
          <ion-button [routerLink]="['/booking-detail/', item._id, 'edit']" size="default" expand="block"
            color="medium">แก้ไข
          </ion-button>
        </ion-col>
      </ion-item>
      <h1 *ngIf="this.reservation.length == 0" class="ion-text-center">ไม่พบสิ่งที่ค้นหา</h1>
    </ion-card-content>
  </ion-card>
  <!-- </form> -->
</ion-content>