<ion-header>
  <ion-toolbar>
    <ion-title>จองห้อง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
  <ion-item lines="none">
    <ion-button (click)="bookinginformation()" size="default" slot="end" expand="block" type="submit">
      <ion-icon name="add-circle-outline"></ion-icon>
      เพิ่มข้อมูลการจอง
    </ion-button>
  </ion-item>

  <ion-row class="ion-padding">
    <ion-col size="11">
      <ion-searchbar></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button style="margin-top: 0.8em;" size="default" expand="block" color="dark">
        ค้นหา
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-text-center">
        <ion-col size="1.5">
          <h4>เข้าวันที่</h4>
        </ion-col>
        <ion-col size="1.5">
          <h4>ออกวันที่</h4>
        </ion-col>
        <ion-col size="1.5">
          <h4>จองเมื่อ</h4>
        </ion-col>
        <ion-col size="2">
          <h4>ชื่อ</h4>
        </ion-col>
        <ion-col size="1.5">
          <h4>เบอร์โทรศัพท์</h4>
        </ion-col>
        <ion-col size="2">
          <h4>จำนวนห้อง</h4>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-col size="10" [routerLink]="['/booking-detail/', 'cancel']">
          <ion-item lines="none">
            <ion-col size="2">
              02/02/2020
            </ion-col>
            <ion-col size="1.5">
              04/02/2020
            </ion-col>

            <ion-col size="2" class="ion-text-center">
              02/01/2020
            </ion-col>
            <ion-col size="2.5" class="ion-text-center">
              ดงจัง ดีพังจุง
            </ion-col> 
            <ion-col size="2" class="ion-text-left">
              021236548999
            </ion-col>
            <ion-col size="2" class="ion-text-center" >
              200
            </ion-col>
          </ion-item>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="confirmMember()" size="default" expand="block">ยืนยัน</ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button [routerLink]="['/booking-detail/', 'edit']" size="default" expand="block" color="medium">แก้ไข
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- </form> -->
</ion-content>