<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดห้องพัก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="handleSubmit()" [formGroup]="fg">
    <ion-list lines="none">
      <ion-item *ngIf="forType == 'each'">
        <ion-label>ห้อง {{roomNo}}</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>อาหารเช้า</ion-label>
            <ion-checkbox slot="start" formControlName="haveBreakfast" value="true"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="forType == 'each'">
        <ion-label>อื่นๆ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>เพิ่มอาหารเช้า</ion-label>
            <ion-checkbox slot="start" formControlName="haveAddBreakfast"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="fg.get('haveAddBreakfast').value" class="ion-text-center">
            <ion-input type="number" (ionFocus)="fg.get('addBreakfastCount').setValue(null)"  formControlName="addBreakfastCount"
              placeholder="กรุณากรอกข้อมูล"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item *ngIf="fg.get('haveAddBreakfast').value">
            ที่
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>เพิ่มเตียงเสริม</ion-label>
            <ion-checkbox slot="start" formControlName="haveExtraBed"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="fg.get('haveExtraBed').value" class="ion-text-center">
            <ion-input type="number" (ionFocus)="fg.get('extraBedCount').setValue(null)"  formControlName="extraBedCount" placeholder="กรุณากรอกข้อมูล">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item *ngIf="fg.get('haveExtraBed').value">
            ที่
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="forType != 'each'">
        <ion-col>
          <ion-item>
            <ion-label>ส่วนลด</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="fg.get('discount').value" class="ion-text-center">
            <ion-input type="number" (ionFocus)="fg.get('discount').setValue(null)"  formControlName="discount" placeholder="กรุณากรอกข้อมูล">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item *ngIf="fg.get('discount').value" >
            บาท
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-button size="default" slot="end" expand="block" color="danger" (click)="closeModal()">ยกเลิก
        </ion-button>
        <ion-button size="default" slot="end" expand="block" type="submit">บันทึก</ion-button>
      </ion-item>

    </ion-list>
  </form>

</ion-content>