<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isCancel2 == 'edit'">แก้ไขข้อมูลการจอง</ion-title>
    <ion-title *ngIf="isCancel2 == 'cancel'">ยืนยันการจอง</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" *ngIf="isCancel2 == 'cancel'">
    <ion-button size="default" slot="end" expand="block" type="submit" (click)="cancelReservation()">
      ยกเลิกการจอง
    </ion-button>
  </ion-item>
  <form [formGroup]="fg" (ngSubmit)="handleSubmit()" *ngIf="isCancel2 == 'cancel'">
    <ion-list lines="none">
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>ชื่อ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{listdataReservation.name}}
            </label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>เบอร์โทรศัพท์</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{listdataReservation.telephone}}
            </label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>วันที่เข้า</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{listdataReservation.checkInDate | date:"dd/MM/yyyy"}}
            </label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>ออกวันที่</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{listdataReservation.checkOutDate | date:"dd/MM/yyyy"}}
            </label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>จำนวนห้อง</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{roomslength}}
            </label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>ห้อง</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="9">
          <ion-item *ngFor="let item of fg.get('rooms').value" style="float:left">
            <ion-button color="light">
              {{item.roomNo}}
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>เงินสำรองจ่าย</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{listdataReservation.reserve}}
            </label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-button size="default" slot="end" expand="block" [routerLink]="['/booking/']" color="danger">ยกเลิก
        </ion-button>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="fg" (ngSubmit)="handleSubmit()" *ngIf="isCancel2 == 'edit'">
    <ion-list lines="none">
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>ชื่อ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-input type="text" formControlName="name" placeholder="กรุณากรอกข้อมูล"
              [class.invalid]="isValid('name')"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="10">
          <ion-item *ngIf="isValid('name')">
            <span class="invalid-msg">
              กรุณากรอกข้อมูล
            </span>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>เบอร์โทรศัพท์</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-input type="text" formControlName="telephone" placeholder="กรุณากรอกข้อมูล"
              [class.invalid]="isValid('telephone')"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="10">
          <ion-item *ngIf="isValid('telephone')">
            <span class="invalid-msg">
              กรุณากรอกข้อมูล
            </span>
          </ion-item>
        </ion-col>
      </ion-row>

      <app-datetime [fg]="fg" formName="checkInDate" text="วันที่เข้า" mode="date"></app-datetime>
      <app-datetime [fg]="fg" formName="checkOutDate" text="ออกวันที่" mode="date"></app-datetime>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>จำนวนห้อง</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-input type="text" value="{{roomslength}}" placeholder="กรุณากรอกข้อมูล"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>ห้อง</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-item *ngFor="let item of this.fg.get('rooms').value" style="float:left">
            <ion-button color="light">
              {{item.roomNo}}
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item [class.invalid]="isValid('rooms')">
            <ion-icon slot="end" (click)="selectRoomModal()" name="search-outline"></ion-icon>
            <ion-icon slot="end" (click)="roomSettingModal()" name="settings-outline"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label>เงินสำรองจ่าย</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <label>
              {{listdataReservation.reserve}}
            </label>
          </ion-item>
        </ion-col>        
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-label>เพิ่มเงินสำรองจ่าย</ion-label>
            <ion-checkbox slot="start" (ionChange)="isReserve()"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size="1.5" *ngIf="isAddreserve">
          <ion-item class="ion-text-center">
            <ion-input type="number" (ionChange)="isAdd($event)" value="{{addreserve}}" placeholder="กรุณากรอกข้อมูล"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1" *ngIf="isAddreserve">
          <ion-item>
            บาท
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="3">
        <ion-item *ngIf="addreserve < 0">
          <span class="invalid-msg">
            ตัวเลขห้ามติดลบ
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- [routerLink]="['/booking/']" -->
      <ion-item>
        <ion-button size="default" slot="end" expand="block" (click)="cancel()"  color="danger">ยกเลิก
        </ion-button>
        <ion-button size="default" slot="end" expand="block" type="submit">บันทึก
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>