<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
  <ion-list lines="none">

    <ion-row *ngIf="listdata.idCard != ''" class="ion-text-left">
      <ion-col size="1">
      </ion-col>
      <ion-col size="2.5">
        <ion-img class="img-size" [src]=urlPhoto class="img-responsive" alt="Image"></ion-img>
      </ion-col>
      <ion-col size="2.5">
        <ion-item>
          <ion-label>รหัสบัตรประจำตัวประชาชน</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>คำนำหน้า</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ชื่อ-สกุล (ไทย)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เกิดวันที่</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ที่อยู่</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>วันออกบัตร</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>วันบัตรหมดอายุ</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เบอร์โทรศัพท์</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>อาชีพ</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เพศ</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>{{listdata.idCard}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.th_Prefix}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.th_Firstname}} {{listdata.th_Lastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.birthday | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.address}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.issueDate | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.expiryDate | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.telephone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.job}}</ion-label>
        </ion-item>
        <ion-item *ngIf="listdata.sex == 'M'">
          <ion-label>ชาย</ion-label>
        </ion-item>
        <ion-item *ngIf="listdata.sex == 'F'">
          <ion-label>หญิง</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="listdata.idCard == ''" class="ion-text-left">
      <ion-col size="1">
      </ion-col>
      <ion-col size="2.5">
          <ion-img class="img-size" [src]=urlPhoto class="img-responsive" alt="Image"></ion-img>
      </ion-col>
      <ion-col size="2.5">
        <ion-item>
          <ion-label>Passport No.</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Prefix</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>First&Middle Name</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Last Name</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Date of Birth</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Nationality</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Date of issue</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Date of expiry</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Telephone No.</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>sex</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>{{listdata.passportNo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.en_Prefix}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.en_Firstname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.en_Lastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.birthday | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.nationality}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.issueDate | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.expiryDate | date:"dd/MM/yyyy"}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{listdata.telephone}}</ion-label>
        </ion-item>
        <ion-item *ngIf="listdata.sex == 'M'">
          <ion-label>Male</ion-label>
        </ion-item>
        <ion-item *ngIf="listdata.sex == 'F'">
          <ion-label>Female</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-button size="default" slot="end" expand="block" color="medium" (click)="editMember()">แก้ไขข้อมูล
      </ion-button>
      <ion-button size="default" slot="end" expand="block" type="submit">Check In</ion-button>
    </ion-item>

    <ion-row>
      <ion-col size="3">
        <ion-item>
          <h5><b>ประวัติการเข้าพัก</b></h5>
        </ion-item>
      </ion-col>
    </ion-row>

    <div scrollX="true" scrollY="true" class="ion-no-padding">
      <table>
        <thead class="bgb">
          <tr>
            <th width="100">วันที่เข้าพัก</th>
            <th width="100">วันที่ออก</th>
            <th width="100">Bed Night</th>
            <th width="100">จำนวนเงิน</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td width="100">16/17/2018</td>
            <td width="100">18:10</td>
            <td width="100">12/17/18</td>
            <td width="100">12:10</td>
          </tr>
        </tbody>
      </table>
    </div>

  </ion-list>
  <!-- </form> -->
</ion-content>