<ion-header>
  <ion-toolbar>
    <ion-title>checkin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item lines="none">
      <ion-button size="default" (click)="dataMember()" slot="end" expand="block" type="submit">
        <ion-icon name="settings"></ion-icon>
        ค้นหาสมาชิก
      </ion-button>
    </ion-item>
    <!-- <form [formGroup]="fg" (ngSubmit)="handleSubmit()"> -->
    <ion-row class="ion-text-left">
      <ion-col size="1">
      </ion-col>
      <ion-col size="2.5">
        <ion-img class="img-size" style="width: 150; height: 152px;" [src]=urlPhoto class="img-responsive" alt="Image">
        </ion-img>
      </ion-col>
      <ion-col size="1.7">
        <ion-item>
          <ion-label>
            <h2>ข้อมูลผู้เข้าพักโรงแรม</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ชื่อ-สกุล</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เบอร์โทรศัพท์</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>เงินสำรองจ่าย</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>กรุ๊ป</ion-label>
        </ion-item>

      </ion-col>
      <ion-col size="6.8" class="ion-text-left">
        <ion-item>
          <ion-label>😊</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{fg.get('name').value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{fg.get('telephone').value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{fg.get('reserve').value}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="กรุณากรอกข้อมูล" value="{{fg.get('name').value}}">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3.4">
      </ion-col>
      <ion-col size="8.6" class="ion-text-center">
        <app-datetime [fg]="fg" formName="checkInDate" text="วันที่เข้า" mode="date"></app-datetime>
        <app-datetime [fg]="fg" formName="checkOutDate" text="วันที่ออก" mode="date"></app-datetime>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3.5">
      </ion-col>
      <ion-col size="1.7">
        <ion-item>
          <ion-label>ห้อง</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3.8">
        <ion-item *ngFor="let item of this.fg.get('rooms').value" style="float:left">
          <ion-button color="light">
            {{item.roomNo}}
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          <!-- [class.invalid]="isValid('rooms')" -->
          <ion-icon slot="end" (click)="selectRoomModal()" name="search-outline"></ion-icon>
          <ion-icon slot="end" (click)="roomSetting()" name="settings-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col size="3.5">
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-button size="default" (click)="dataReservation()" slot="start" expand="block" type="submit">
            <ion-icon name="settings"></ion-icon>
            ข้อมูลการจอง
          </ion-button>
        </ion-item>
        <ion-item class="ion-text-left">
          <ion-label>ค่ามัดจัด</ion-label>
          <ion-checkbox slot="start" checked="true" (ionChange)="isReserve($event)"></ion-checkbox>
        </ion-item>
        <ion-item class="ion-text-left">
          <ion-label>ใบกำกับภาษี</ion-label>
          <ion-checkbox slot="start" (ionChange)="isReserve2($event)"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="6.5">
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col size="5.5">
      </ion-col>
      <ion-col size="1">
        <ion-button size="default" expand="block" type="submit" (click)="presentAlertConfirm()">
          ถัดไป</ion-button>
      </ion-col>
      <ion-col size="5.5">
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- </form> -->
</ion-content>