<form [formGroup]="fg">
  <ng-container *ngIf=" mode == 'date'">
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label> {{text}} </ion-label>
        </ion-item>
      </ion-col>
      <ion-col  [class.invalid]="isValid(formName)">
        <ion-item>
          <ion-datetime slot="start" #time display-format="DD-MM-YYYY" placeholder="กรุณาเลือก" value="" display-timezone="utc"
            formControlName={{formName}}>
          </ion-datetime>
          <ion-icon  slot="end" name="calendar-outline"> </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-item *ngIf="isValid(formName)">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf=" mode == 'time'">
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label> {{text}} </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [class.invalid]="isValid(formName)">
          <ion-datetime #clock display-format="HH:mm" value="" display-timezone="utc" formControlName={{formName}}
            placeholder="กรุณาเลือก">
          </ion-datetime>
          <ion-icon slot="end" name="alarm-outline"> </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-item *ngIf="isValid(formName)">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-container>

  <!-- <ng-container *ngIf=" mode == 'date'">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="10">
        <ion-item *ngIf="isValid(formName)">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label>{{text}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10">
        <ion-item>
          <mbsc-calendar formControlName={{formName}} [class.invalid]="isValid(formName)" [options]="datetimeSettings1"
            placeholder="กรุณาเลือก">
          </mbsc-calendar>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf=" mode == 'time'">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="10">
        <ion-item *ngIf="isValid(formName)">
          <span class="invalid-msg">
            กรุณาเลือก
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label>{{text}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10">
        <ion-item>
          <mbsc-calendar [class.invalid]="isValid(formName)" formControlName={{formName}} [options]="datetimeSettings2"
            placeholder="กรุณาเลือก"></mbsc-calendar>
        </ion-item>
      </ion-col>
    </ion-row>

  </ng-container> -->
</form>